.car-carousel {
    position: absolute;
    top: calc(-10.5vh - 6vw);
    left: 0;
    width: 100vw;
    height: 100vh;
}
.arrow {
    position: absolute;
    bottom: 6%;
    font-size: 30px;
    cursor: pointer;
}
.arrow-left {
    left: 42%;
}
.arrow-right {
    right: 42%;
}
